In [2]:
# =====================================================================================
# ðŸ“˜ DAY 2 â€“ DATA SELECTION & INDEXING
# Author: Tanuja Mannem
# Description:
#     Detailed theory (in comments) + code examples for selecting, filtering,
#     and indexing data in Pandas. Covers direct column access, loc, iloc,
#     conditional filtering, adding/removing columns, sorting, setting/resetting index,
#     Series combination, practice tasks with answers, and interview Q&A.
# =====================================================================================

import pandas as pd
import numpy as np

# =====================================================================================
# 1. OVERVIEW / THEORY
# =====================================================================================
# Data selection and indexing are fundamental in Pandas. They let you access and
# manipulate subsets of data quickly and efficiently.
#
# Main approaches:
#   - Direct column access: df['col'] or df.col
#   - Label-based indexing: df.loc[row_labels, col_labels]
#   - Position-based indexing: df.iloc[row_positions, col_positions]
#
# Differences:
#   - loc uses the labels (index names or column names).
#   - iloc uses integer positions (0-based).
#
# Use cases:
#   - loc is preferred when you know row/column labels (e.g., dates or named IDs).
#   - iloc is useful when you want to slice by positional indices.
# =====================================================================================


# =====================================================================================
# 2. SAMPLE DATAFRAME (for examples)
# =====================================================================================
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Esha'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR'],
    'Age': [25, 30, 28, 35, 26],
    'Salary': [50000, 60000, 55000, 80000, 52000]
}
df = pd.DataFrame(data)
print("\n--- Initial DataFrame ---")
print(df)


# =====================================================================================
# 3. DIRECT COLUMN ACCESS (THEORY)
# =====================================================================================
# Theory:
#   - df['col'] returns a Series (one-dimensional).
#   - df[['col1','col2']] returns a DataFrame (two-dimensional).
#   - df.col is shorthand for df['col'] but may fail for column names with spaces
#     or names that coincide with DataFrame methods.
#
# Common tasks:
#   - Selecting a single column to compute statistics.
#   - Selecting multiple columns to create a smaller DataFrame.
# =====================================================================================

# Code examples:
print("\n--- Direct Column Access ---")
print("Single column (Series):")
print(df['Name'])

print("\nMultiple columns (DataFrame):")
print(df[['Name', 'Salary']])


# =====================================================================================
# 4. SELECTING ROWS (THEORY)
# =====================================================================================
# Theory:
#   - df.head(n) and df.tail(n) for quick snapshots.
#   - df.iloc[i] selects the i-th row by integer position.
#   - df.loc[label] selects by index label (if custom index is used).
#
# Use cases:
#   - Preview data with head/tail.
#   - Access specific rows for inspection or modification.
# =====================================================================================

# Code examples:
print("\n--- Selecting Rows ---")
print("First 3 rows (head):\n", df.head(3))
print("\nLast 2 rows (tail):\n", df.tail(2))
print("\nRow at integer position 1 (iloc):\n", df.iloc[1])


# =====================================================================================
# 5. LABEL-BASED INDEXING WITH loc (THEORY)
# =====================================================================================
# Theory:
#   - df.loc[row_labels, column_labels]
#   - row_labels can be a single label, a list of labels, or a slice (inclusive).
#   - Useful for selecting by index names (e.g., dates) or by column names.
#   - Can be used with boolean masks for conditional selection.
#
# Examples:
#   - df.loc[2] -> row label 2
#   - df.loc[1:3, ['Name','Salary']] -> rows 1 to 3 (inclusive) and specified columns
# =====================================================================================

# Code examples:
print("\n--- loc Examples ---")
print("Row with label 2 (loc):\n", df.loc[2])
print("\nRows 1 to 3 (inclusive) with Name and Salary:\n", df.loc[1:3, ['Name', 'Salary']])
print("\nEmployees from IT department (loc with boolean mask):\n", df.loc[df['Department'] == 'IT', ['Name', 'Salary']])
print("\nEmployees older than 28 using loc:\n", df.loc[df['Age'] > 28, ['Name', 'Age']])


# =====================================================================================
# 6. POSITION-BASED INDEXING WITH iloc (THEORY)
# =====================================================================================
# Theory:
#   - df.iloc[row_positions, column_positions]
#   - Uses integer positions (0-based).
#   - Slices follow normal Python semantics: start inclusive, stop exclusive.
#
# Examples:
#   - df.iloc[0] -> first row as Series
#   - df.iloc[1:4, 0:3] -> rows 1-3 and columns 0-2
# =====================================================================================

# Code examples:
print("\n--- iloc Examples ---")
print("First row (iloc[0]):\n", df.iloc[0])
print("\nRows 1 to 3, columns 0 to 2:\n", df.iloc[1:4, 0:3])
print("\nSelect specific rows and columns:\n", df.iloc[[0, 2, 4], [0, 3]])  # Name and Salary


# =====================================================================================
# 7. CONDITIONAL FILTERING (THEORY)
# =====================================================================================
# Theory:
#   - Use boolean expressions to filter rows: df[df['col'] > value]
#   - Combine conditions with & (AND), | (OR), and ~ (NOT). Wrap each condition in ()
#   - Use .isin(list) for membership checks, .between(a,b) for inclusive ranges.
#
# Examples:
#   - df[df['Salary'] > 55000]
#   - df[(df['Department']=='IT') & (df['Salary']>60000)]
#   - df[df['Department'].isin(['HR','IT'])]
# =====================================================================================

# Code examples:
print("\n--- Conditional Filtering ---")
print("Employees with Salary > 55000:\n", df[df['Salary'] > 55000])
print("\nEmployees from IT with Salary > 60000:\n", df[(df['Department'] == 'IT') & (df['Salary'] > 60000)])
print("\nEmployees NOT in HR:\n", df[~(df['Department'] == 'HR')])


# =====================================================================================
# 8. ADDING AND REMOVING COLUMNS (THEORY)
# =====================================================================================
# Theory:
#   - Add a column: df['NewCol'] = values (list/Series/scalar)
#   - Remove a column: df.drop(columns='ColName', inplace=True) or assign df = df.drop(...)
#   - Use vectorized operations for performance (avoid Python loops).
#
# Examples:
#   - df['Bonus'] = df['Salary'] * 0.1
#   - df.drop(columns='Bonus', inplace=True)
# =====================================================================================

# Code examples:
print("\n--- Adding and Removing Columns ---")
df['Bonus'] = df['Salary'] * 0.10
print("\nAfter adding Bonus column:\n", df)

df.drop(columns='Bonus', inplace=True)
print("\nAfter removing Bonus column:\n", df)


# =====================================================================================
# 9. SORTING (THEORY)
# =====================================================================================
# Theory:
#   - df.sort_values(by='col', ascending=True/False) sorts by column values.
#   - df.sort_values(by=['col1','col2'], ascending=[True, False]) for multi-level sort.
#   - df.sort_index() sorts by index labels.
#
# Examples:
#   - df.sort_values(by='Age')
#   - df.sort_values(by=['Department','Salary'], ascending=[True, False])
# =====================================================================================

# Code examples:
print("\n--- Sorting Examples ---")
print("Sort by Age ascending:\n", df.sort_values(by='Age'))

print("\nSort by Department (asc) and Salary (desc):\n", df.sort_values(by=['Department', 'Salary'], ascending=[True, False]))

print("\nSort by index descending:\n", df.sort_index(ascending=False))


# =====================================================================================
# 10. SETTING AND RESETTING INDEX (THEORY)
# =====================================================================================
# Theory:
#   - df.set_index('col') makes a column the index (use inplace=True to modify).
#   - df.reset_index() restores default integer index and makes the index a column.
#   - Useful when you want row labels based on a column (e.g., Name or Date).
# =====================================================================================

# Code examples:
print("\n--- Set and Reset Index ---")
df_indexed = df.set_index('Name')
print("\nDataFrame with 'Name' as index:\n", df_indexed)

df_reset = df_indexed.reset_index()
print("\nReset index back to default:\n", df_reset)


# =====================================================================================
# 11. SERIES COMBINATION (THEORY)
# =====================================================================================
# Theory:
#   - Two Series can be combined into a DataFrame using pd.concat([...], axis=1)
#   - If indices differ, concatenation aligns by index; missing values become NaN.
#   - Use pd.DataFrame({'col1': series1, 'col2': series2}) to create without alignment issues.
# =====================================================================================

# Code examples:
print("\n--- Series Combination ---")
sales_q1 = pd.Series([10, 20, 30], name='Sales_Q1')
sales_q2 = pd.Series([15, 25, 35], name='Sales_Q2')
sales_df = pd.concat([sales_q1, sales_q2], axis=1)
print("\nCombined Series into DataFrame:\n", sales_df)


# =====================================================================================
# 12. PRACTICE TASKS (with answers)
# =====================================================================================
# Tasks below use the original df (recreate it if modified). For clarity we recreate df.
df = pd.DataFrame(data)  # recreate original sample

print("\n================= PRACTICE TASKS & ANSWERS =================")

# Task 1: Select Name and Department columns.
print("\nTask 1 â€” Select Name and Department:")
ans1 = df[['Name', 'Department']]
print(ans1)

# Task 2: Show employees older than 27.
print("\nTask 2 â€” Employees older than 27:")
ans2 = df[df['Age'] > 27]
print(ans2)

# Task 3: Display employees from HR or IT departments.
print("\nTask 3 â€” Employees from HR or IT:")
ans3 = df[df['Department'].isin(['HR', 'IT'])]
print(ans3)

# Task 4: Sort employees by Salary descending.
print("\nTask 4 â€” Employees sorted by Salary (descending):")
ans4 = df.sort_values(by='Salary', ascending=False)
print(ans4)

# Task 5: Create new column 'Tax' = 5% of Salary.
print("\nTask 5 â€” Add Tax column (5% of Salary):")
df['Tax'] = df['Salary'] * 0.05
print(df)

# Task 6: Remove the 'Tax' column.
print("\nTask 6 â€” Remove Tax column:")
df = df.drop(columns='Tax')
print(df)

# Task 7: Set 'Department' as index, then reset it.
print("\nTask 7 â€” Set Department as index then reset:")
df_temp = df.set_index('Department')
print("\nAfter set_index:\n", df_temp)
print("\nAfter reset_index:\n", df_temp.reset_index())


# =====================================================================================
# 13. INTERVIEW QUESTIONS (with short answers)
# =====================================================================================
# Q1. Difference between loc[] and iloc[]?
#     â†’ loc is label-based indexing; iloc is integer position-based indexing.
#
# Q2. How do you filter rows using multiple conditions?
#     â†’ Use parentheses and operators: df[(cond1) & (cond2)] or df[(cond1) | (cond2)].
#
# Q3. How to select multiple columns?
#     â†’ df[['col1','col2']] returns a DataFrame containing those columns.
#
# Q4. How to add a new column with derived values?
#     â†’ df['New'] = df['col'] * factor (vectorized operation).
#
# Q5. How to remove a column?
#     â†’ df.drop(columns='col_name', inplace=True) or df = df.drop(columns='col_name').
#
# Q6. How to sort by multiple columns?
#     â†’ df.sort_values(by=['col1','col2'], ascending=[True, False])
#
# Q7. How does pandas handle index when concatenating Series with different indices?
#     â†’ It aligns by index labels; missing positions are filled with NaN.
#
# Q8. How to check whether a value exists in a column?
#     â†’ Use .isin(): df['col'].isin([val1, val2]) or use (df['col'] == val).
#
# Q9. How to access a single cell value?
#     â†’ Use df.at[row_label, 'col'] (fast) or df.iat[row_pos, col_pos] (fast integer access).
#
# Q10. What is the difference between df['col'] and df[['col']]?
#     â†’ df['col'] returns a Series; df[['col']] returns a DataFrame.

--- Initial DataFrame ---
      Name Department  Age  Salary
0    Alice         HR   25   50000
1      Bob         IT   30   60000
2  Charlie    Finance   28   55000
3    David         IT   35   80000
4     Esha         HR   26   52000

--- Direct Column Access ---
Single column (Series):
0      Alice
1        Bob
2    Charlie
3      David
4       Esha
Name: Name, dtype: object

Multiple columns (DataFrame):
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   55000
3    David   80000
4     Esha   52000

--- Selecting Rows ---
First 3 rows (head):
       Name Department  Age  Salary
0    Alice         HR   25   50000
1      Bob         IT   30   60000
2  Charlie    Finance   28   55000

Last 2 rows (tail):
     Name Department  Age  Salary
3  David         IT   35   80000
4   Esha         HR   26   52000

Row at integer position 1 (iloc):
 Name            Bob
Department       IT
Age              30
Salary        60000
Name: 1, dtype: object

--- loc Examples ---
Row with label 2 (loc):
 Name          Charlie
Department    Finance
Age                28
Salary          55000
Name: 2, dtype: object

Rows 1 to 3 (inclusive) with Name and Salary:
       Name  Salary
1      Bob   60000
2  Charlie   55000
3    David   80000

Employees from IT department (loc with boolean mask):
     Name  Salary
1    Bob   60000
3  David   80000

Employees older than 28 using loc:
     Name  Age
1    Bob   30
3  David   35

--- iloc Examples ---
First row (iloc[0]):
 Name          Alice
Department       HR
Age              25
Salary        50000
Name: 0, dtype: object

Rows 1 to 3, columns 0 to 2:
       Name Department  Age
1      Bob         IT   30
2  Charlie    Finance   28
3    David         IT   35

Select specific rows and columns:
       Name  Salary
0    Alice   50000
2  Charlie   55000
4     Esha   52000

--- Conditional Filtering ---
Employees with Salary > 55000:
     Name Department  Age  Salary
1    Bob         IT   30   60000
3  David         IT   35   80000

Employees from IT with Salary > 60000:
     Name Department  Age  Salary
3  David         IT   35   80000

Employees NOT in HR:
       Name Department  Age  Salary
1      Bob         IT   30   60000
2  Charlie    Finance   28   55000
3    David         IT   35   80000

--- Adding and Removing Columns ---

After adding Bonus column:
       Name Department  Age  Salary   Bonus
0    Alice         HR   25   50000  5000.0
1      Bob         IT   30   60000  6000.0
2  Charlie    Finance   28   55000  5500.0
3    David         IT   35   80000  8000.0
4     Esha         HR   26   52000  5200.0

After removing Bonus column:
       Name Department  Age  Salary
0    Alice         HR   25   50000
1      Bob         IT   30   60000
2  Charlie    Finance   28   55000
3    David         IT   35   80000
4     Esha         HR   26   52000

--- Sorting Examples ---
Sort by Age ascending:
       Name Department  Age  Salary
0    Alice         HR   25   50000
4     Esha         HR   26   52000
2  Charlie    Finance   28   55000
1      Bob         IT   30   60000
3    David         IT   35   80000

Sort by Department (asc) and Salary (desc):
       Name Department  Age  Salary
2  Charlie    Finance   28   55000
4     Esha         HR   26   52000
0    Alice         HR   25   50000
3    David         IT   35   80000
1      Bob         IT   30   60000

Sort by index descending:
       Name Department  Age  Salary
4     Esha         HR   26   52000
3    David         IT   35   80000
2  Charlie    Finance   28   55000
1      Bob         IT   30   60000
0    Alice         HR   25   50000

--- Set and Reset Index ---

DataFrame with 'Name' as index:
         Department  Age  Salary
Name
Alice           HR   25   50000
Bob             IT   30   60000
Charlie    Finance   28   55000
David           IT   35   80000
Esha            HR   26   52000

Reset index back to default:
       Name Department  Age  Salary
0    Alice         HR   25   50000
1      Bob         IT   30   60000
2  Charlie    Finance   28   55000
3    David         IT   35   80000
4     Esha         HR   26   52000

--- Series Combination ---

Combined Series into DataFrame:
    Sales_Q1  Sales_Q2
0        10        15
1        20        25
2        30        35

================= PRACTICE TASKS & ANSWERS =================

Task 1 â€” Select Name and Department:
      Name Department
0    Alice         HR
1      Bob         IT
2  Charlie    Finance
3    David         IT
4     Esha         HR

Task 2 â€” Employees older than 27:
      Name Department  Age  Salary
1      Bob         IT   30   60000
2  Charlie    Finance   28   55000
3    David         IT   35   80000

Task 3 â€” Employees from HR or IT:
    Name Department  Age  Salary
0  Alice         HR   25   50000
1    Bob         IT   30   60000
3  David         IT   35   80000
4   Esha         HR   26   52000

Task 4 â€” Employees sorted by Salary (descending):
      Name Department  Age  Salary
3    David         IT   35   80000
1      Bob         IT   30   60000
2  Charlie    Finance   28   55000
4     Esha         HR   26   52000
0    Alice         HR   25   50000

Task 5 â€” Add Tax column (5% of Salary):
      Name Department  Age  Salary     Tax
0    Alice         HR   25   50000  2500.0
1      Bob         IT   30   60000  3000.0
2  Charlie    Finance   28   55000  2750.0
3    David         IT   35   80000  4000.0
4     Esha         HR   26   52000  2600.0

Task 6 â€” Remove Tax column:
      Name Department  Age  Salary
0    Alice         HR   25   50000
1      Bob         IT   30   60000
2  Charlie    Finance   28   55000
3    David         IT   35   80000
4     Esha         HR   26   52000

Task 7 â€” Set Department as index then reset:

After set_index:
                Name  Age  Salary
Department
HR            Alice   25   50000
IT              Bob   30   60000
Finance     Charlie   28   55000
IT            David   35   80000
HR             Esha   26   52000

After reset_index:
   Department     Name  Age  Salary
0         HR    Alice   25   50000
1         IT      Bob   30   60000
2    Finance  Charlie   28   55000
3         IT    David   35   80000
4         HR     Esha   26   52000